body {
    background-color: #d7d7d7;
}

.container {
    width: 480px;
    height: 800px;
    margin: 0 auto;
}

.surveys-question {
    background-color: #ffffff;
    width: 391px;
    height: 132px;
    padding: 30px 25px;
    /*border: 1px solid black;*/
}

.surveys-question h1 {
    color: #999999;
    font-size: 29px;
}

.surveys-question-step {
    background-color: #ffcc00;
}

.surveys-question-step p {
    font-size: 20px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    /*21 45*/
}

.surveys-question-step-block {
    padding-top: 45px;
    font-style: italic;
}

.content {
    width: 480px;
    height: 671px;
    background-color: #212224;
}

.content-question {
    margin: 45px 34px;
}

.content h2 {
    color: #ffcc00;
    font-size: 30px;
}

.content-answer {
    color: #e3e1e1;
    font-size: 24px;
    margin: 45px 34px;
}

.content-answer input {
    margin-right: 22px;
}

.checkbox {
    transform:scale(2.0);
    opacity:0.9;
    margin: initial;
    cursor:pointer;
    height: 30px;
}

.block-button {
    margin: 45px 34px;
}

.next-button {
    width: 222px;
    height: 52px;
    background-color: #ffcc00;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

.next-button a {
    text-decoration: none;
    color: #212224;
    font-weight: bold;
}

.link-site {
    width: 222px;
    height: 52px;
    margin: 0 auto;
    text-align: center;
}

.link-site a {
    text-decoration: none;
    color: #e3e1e1;
}